@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task List Application </h1>
    <p> Create, Update and Delete task lists and their accompanying tasks </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("TaskLists", "Index", "Tasklists" ) </h2>
        <p> Create, Edit and Delete Task lists </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tasks", "Index", "Tasks") </h2>
        <p> Create, Edit and Delete tasks ></p>
    </div>
     
</div>